
<!DOCTYPE html>
<html lang="tr">
    <head>
        <style>
        .section-header {
            text-align: center;
            padding-bottom: 0px;
        }
        </style>
    </head>
<body>

    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/template/assets/img/breadcrumbs-bg.jpg');">
            <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

                <h2>Hakkımızda</h2>
                <ol>
                    <li><a href="/home/index">AnaSayfa</a></li>
                    <li>Hakkımızda</li>
                </ol>

            </div>
        </div><!-- End Breadcrumbs -->
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="row position-relative">

                    <div class="col-lg-7 about-img" style="background-image: url('/template/assets/img/yenilogo.png');"></div>

                    <div class="col-lg-7">
                        <h2>"Işığınızı Yeniden Tanımlayın"</h2>
                        <div class="our-story">
                            <h4>Biz Kimiz</h4>
                            <h3>Vega Led</h3>
                            <p>
                                Şirketimiz Vega Led Aydınlatma Sistemleri 2002 yılında Antalya'nın Alanya ilçesinde "Süha Ayhan ERTEM" tarafından kurulmuştur. Profesyonel mimari aydınlatma tasarımları yapmaktayız. Profesyonel DMX dış cephe aydınlatma ürünleri ve tecrübeli uygulama ekibimizle sizlere iyi bir hizmet vereceğimizden şüpheniz olmasın.
                            </p>
                            <ul>
                                <li><i class="bi bi-check-circle"></i> <span><b>Sürdürülebilirlik İlkemiz:</b> Gelecek nesillere daha temiz bir çevre bırakmak için çalışıyoruz.</span></li>
                                <li><i class="bi bi-check-circle"></i> <span><b>Müşteri Memnuniyeti Odaklı:</b> Müşterilerimizin ihtiyaçlarını en üst düzeyde karşılamayı taahhüt ediyoruz.</span></li>
                                <li><i class="bi bi-check-circle"></i> <span><b>Yenilikçi Çözümler:</b> LED teknolojilerindeki son gelişmeleri takip ederek en iyi çözümleri sunuyoruz.</span></li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- End About Section -->

        <section id="alt-services" class="alt-services">
            <div class="container" data-aos="fade-up">
                <div class="row justify-content-around gy-4">
                    <div class="col-lg-6 img-bg" style="background-image: url(/template/assets/img/suha.jpg);" data-aos="zoom-in"
                         data-aos-delay="100"></div>
                    <div class="col-lg-5 d-flex flex-column justify-content-center">
                        <h1>Hizmetlerimiz</h1>
                        <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
                            <i class="bi bi-easel flex-shrink-0"></i>
                            <div>
                                <h4>Tasarım</h4>
                                <p>
                                    LED aydınlatma konusundaki yaratıcı tasarım ekibimiz, her projenin özel gereksinimlerini karşılayacak özelleştirilmiş çözümler sunmaktadır. Estetik değeri yüksek, fonksiyonel ve çevreye duyarlı tasarımlarımız, mekanlarınıza özel aydınlatma dokunuşları sağlamak için tasarlanmıştır.
                                </p>
                            </div>
                        </div><!-- End Icon Box -->
                        <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
                            <i class="bi bi-patch-check flex-shrink-0"></i>
                            <div>
                                <h4>Üretim</h4>
                                <p>
                                    Firmamız, son teknoloji ekipmanlarla donatılmış üretim tesislerinde, yüksek kaliteli LED aydınlatma ürünleri üretmektedir. Mühendislik uzmanlarımızın deneyimi sayesinde, müşterilerimize enerji verimliliği sağlayan ve estetik açıdan çekici ürünler sunmaktayız.
                                </p>
                            </div>
                        </div><!-- End Icon Box -->
                        <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
                            <i class="bi bi-brightness-high flex-shrink-0"></i>
                            <div>
                                <h4>Uygulama</h4>
                                <p>
                                    Uygulama aşamasında, uzman ekiplerimiz tasarlanan LED aydınlatma çözümlerini titizlikle hayata geçirir. Her aşamada kalite kontrolünden geçen ürünlerimiz, sahada profesyonelce kurulur ve test edilir. Mekanlarınıza özel aydınlatma atmosferini en yüksek standartlarda sağlamak için çalışıyoruz.
                                </p>
                            </div>
                        </div><!-- End Icon Box -->

                    </div>
                </div>
            </div>
        </section>
        <!-- ======= Alt Services Section 2 ======= -->
        <section id="alt-services-2" class="alt-services section-bg">
            <div class="container" data-aos="fade-up">

                <div class="row justify-content-around gy-4">
                    <div class="col-lg-5 d-flex flex-column justify-content-center">
                        <h3>Biz Vega LED olarak ışıkla başlayan bir hikaye anlatıyoruz. Işık, yaşamımızı şekillendirirken, biz enerji tasarrufu ve sürdürülebilirlikle bu hikayeye yeni bir sayfa ekliyoruz.</h3>
                        <p>
                            Vega LED olarak vizyonumuz, LED aydınlatmanın gücünü kullanarak geleceği aydınlatmak ve enerji verimliliği alanında lider olmaktır. Misyonumuz ise müşterilerimize çevre dostu, verimli ve kaliteli aydınlatma çözümleri sunmaktır.
                        </p>

                        <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
                            <i class="bi bi-easel flex-shrink-0"></i>
                            <div>
                                <h4>Vizyonumuz</h4>
                                <p>
                                    "Vizyonumuz, gelecekte LED aydınlatma teknolojileri ve çözümleri konusunda lider olmak, enerji tasarruflu ve çevre dostu aydınlatma alternatiflerini yaygınlaştırmak, kullanıcılarımıza daha iyi yaşam kalitesi ve enerji verimliliği sunarak dünya genelinde aydınlatma standartlarını yükseltmektir. Yenilikçi ve sürdürülebilir LED aydınlatma çözümleri geliştirerek, toplumların daha yeşil ve aydınlık bir geleceğe ulaşmasına katkıda bulunmayı hedefliyoruz."
                                </p>
                            </div>
                        </div><!-- End Icon Box -->

                        <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
                            <i class="bi bi-patch-check flex-shrink-0"></i>
                            <div>
                                <h4>Misyonumuz</h4>
                                <p>
                                    "Misyonumuz, müşterilerimize yüksek kaliteli, enerji tasarruflu, uzun ömürlü ve çevre dostu LED aydınlatma ürünleri sunarak, onların ihtiyaçlarını en iyi şekilde karşılamaktır. Müşteri memnuniyetini öncelikli olarak ele alırken, sürdürülebilirlik ilkesini benimsemek ve toplumsal sorumluluk bilinciyle hareket etmek de temel misyonlarımız arasındadır. Ayrıca, sürekli araştırma ve geliştirme ile LED aydınlatma teknolojilerini ileriye taşımayı ve enerji verimliliği konusundaki farkındalığı artırmayı görev ediniyoruz."

                                    Bu özetler, LED aydınlatma sektöründe bir şirketin veya kuruluşun kendisini ifade etme şekli ve iş amacını yansıtan genel hedefleri temsil etmektedir.
                                </p>
                            </div>
                        </div><!-- End Icon Box -->


                    </div>

                    <div class="col-lg-6 img-bg" style="background-image: url(template/assets/img/ledisik2.png);" data-aos="zoom-in"
                         data-aos-delay="100"></div>
                </div>

            </div>
        </section><!-- End Alt Services Section 2 -->


    </main><!-- End #main -->




</body>

</html>


